/* Config file for all the css files. Here, you can customize all colors used across the site */

/* Importing the main site font */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=League+Spartan:wght@100..900&display=swap');

@keyframes arrow-animation {
    /* Animation used for the arrow in the buttons */
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }

}

@keyframes icon-animation {
    /* Animation used for the icon in the account page buttons */
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }

}

:root {
    /* Main theme color and variables (some of the colors might also be used in other components than the specified ones) */

    /* Main variables*/
    --theme-base: #0077B6;
    --theme-accent: #00B4D8;
    --theme-shadow: #00048E;
    --theme-font: "Cardo";

    --header-text-before-width: 75%; /* Width of the header text underline */
    --theme-background-color : #CAF0F8; /* Background color of the page */
    --theme-header-color : var(--theme-base); /* Header color */


    /* Buttons */
    --button-border-color: #ffffff00;
    --theme-button-color-normal : var(--theme-accent);
    --theme-button-color-hovered : var(--theme-base);
    --theme-button-color-selected : var(--theme-shadow);

    /* Containers */
    --theme-container-normal : var(--theme-accent);

    /* Inputs (including checkboxes) */
    --theme-input-background-color : var(--theme-base);
    --theme-input-border-color : var(--theme-shadow);
    --theme-input-before-color : var(--theme-base);
    --theme-input-after-color : var(--theme-shadow);

    --theme-checkbox-color-normal: #DFE1E4;
    --theme-checkbox-color-checked: var(--theme-base);
    --theme-checkbox-color-hover: var(--theme-shadow);

    /* Misc */
    --theme-burger-menu-color : var(--theme-header-color); /* color for the burger manu (same as header by default) */

    --theme-info: #2F86EA;
    --theme-success: #47D763;
    --theme-warning: #FFC021;
    --theme-error: #FE345B;
}