/* Config file for all the css files. Here, you can customize all colors used across the site */

/* Importing the main site font */
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=League+Spartan:wght@100..900&display=swap');

@keyframes arrow-animation {
    /* Animation used for the arrow in the buttons */
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }

}

@keyframes icon-animation {
    /* Animation used for the icon in the account page buttons */
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }

}

:root {
    /* Main theme color and variables (some of the colors might also be used in other components than the specified ones) */
    --border-color: #ffffff00; /* Border color for buttons */
    --theme-font: "Cardo";
    --header-text-before-width: 75%; /* Width of the header text underline */
    --theme-background-color : #CAF0F8; /* Background color of the page */
    --theme-header-color : #0077B6; /* Header color */
    --theme-button-color-normal : #00B4D8; /* Normal button color */
    --theme-button-color-hovered : #0077B6; /* Hovered button color */
    --theme-button-color-selected : #00048e; /* Selected button color */
    --theme-container-normal : #00B4D8;
    --theme-container-hovered : #0077B6;
    --theme-progress-bar-color : #0077B6;
    --theme-progress-value-color : #03045E;
    --theme-burger-menu-color : #03045E; /* color for the burger manu (same as header by default) */
    --theme-input-border-color : #00048e;
    --theme-input-background-color : #0077B6;
}