.input {
    position: relative;
    width: 100%;
    max-width: 380px;
    margin: 18px 0;
}

.input input {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 1px 5px;
    border: none;
    border-bottom: 2px solid var(--theme-container-normal);
    background: transparent;
    font-size: 16px;
    color: black;
    outline: none;
    transition: border-color 0.25s ease;
}

.input::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--theme-input-before-color);
    transition: width 0.25s ease;
}

.input:focus-within::after {
    width: 100%;
}

.input::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--theme-input-after-color);
    transition: width 0.25s ease;
}

.input:focus-within::after {
    width: 100%;
}

.input label {
    position: absolute;
    left: 5px;
    top: 40%;
    color: white;
    font-size: 16px;
    pointer-events: none;
    transition:
            top 0.25s ease,
            left 0.25s ease,
            transform 0.25s ease,
            font-size 0.25s ease,
            color 0.25s ease,
            background 0.25s ease;
}

.input:focus-within label,
.input.filled label {
    top: 1px;
    left: 1px;
    transform: none;
    font-size: 15px;
    color: black;
    background: var(--theme-container-normal);
    border-radius: 4px;
}

/* Special style for the eye icon for password inputs */

.input i {
    position: absolute;
    right: 0;
    bottom: 7px;
    cursor: pointer;
}

/* Helper text */
.input .helper {
    font-style: italic;
    font-size: 13px;
    color: rgb(90, 90, 90);
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: -17px;
}

/* Disabled style */

.input.disabled input {
    color: rgb(90, 90, 90);
    cursor: not-allowed;
}

/* Autofill fix */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px var(--theme-container-normal) inset !important;
    box-shadow: 0 0 0 1000 var(--theme-container-normal) inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
}