/* Style for the toast notifications */

/* The container for the toast notifications */
.feedback-container {
    display: flex;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    width: 500px;
    height: 100px;
    border-radius: 9px;
    opacity: 100%;
    z-index: 1000;
    background-color: var(--theme-container-normal);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.feedback-container.old {
    transition: all 0ms;
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}

.feedback-container.new {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.feedback-container::before {
    content: '';
    height: 100%;
    width: 7px;
    background-color: var(--color);
    position: absolute;
    left: 0;
    align-self: center;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

/* The container fot the image used for the toast notifications */
.feedback-container .toast-image {
    width: 45px;
    height: 45px;
    align-self: center;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--color);
    font-weight: 800;
}

/* The image used for the toast notifications */
.feedback-container .toast-image i {
    width: 100%;
    height: 100%;
    align-self: center;
    font-size: 35px;
}

/* Animation for the toast notifications */
.feedback-container.show {
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}

.feedback-container.hide {
    transition: opacity 0.5s ease, transform 0.5s ease; /* Ensure the element has the right transition setup*/
    opacity: 0;
    transform: translateX(-50%) translateY(-40px);
}

/* The container for the content of the toast notifications */
.toast-content {
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* The title of the toast notifications */
.toast-title {
    font-size: 24px;
    margin: 10px 0;
}

/* The message of the toast notifications */
.feedback-message {
    font-size: 12px;
    margin: 0;
}

/* The different colors used for the types of message */

.success {
    --color: var(--theme-success);
}

.warning {
    --color: var(--theme-warning);
}

.error {
    --color: var(--theme-error);
}

.info {
    --color: var(--theme-info);
}

/* Responsive style for mobile */

@media (max-width: 500px) {
    .feedback-container {
        width: 90vw;
    }
}