/.idea/

# The PHP/ directory is now obselete
/PHP/vendor/
/PHP/Log

/backend/src/Log
/backend/vendor

# Config file
backend/.env

# Script to deploy on a local apache server
deploy-local.bat

# Script to delete the logs
flush-logs.bat

# Just some test files
test.html
PHP/db.txt